* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: #F55A5A;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    height: 40px;
    padding: 6px;
}

nav>h1 {
    color: white;
    height: 100%;
}

.card {
    display: flex;
    gap: 15px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 10px;
}


.card--location--line{
    display: flex;
    column-gap: 12px;
}

.card--location--logo-country {
    display: flex;
    column-gap: 4px;
}


.card--maintext {
    margin-bottom: 13px;
}

.card--dates {
    margin-bottom: 4px;
    font-weight: bold;
}

.card--location-icon {
    height: 15px;
}


a{
    text-decoration: none;
}